.who {
  margin-bottom: 129px;
  &__wrapper {
  }

  &__item {
    &:last-child {
      margin-bottom: 0;
    }
    &:nth-child(even) {
      .who__item-desc-block {
        flex-direction: row-reverse;
        margin-top: -39px;
      }
      .who__item-img {
        padding-bottom: 87px;
        max-width: 509px;
        z-index: 1;
        margin-left: 0;
        &::before {
          width: calc(100% + 100px);
          left: 50%;
          transform: translateX(-50%);
          bottom: -5px;
          filter: blur(40px);
        }
      }
    }
  }

  &__item-desc-block {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__item-img {
    display: flex;
    width: 100%;
    max-width: 600px;
    position: relative;
    margin-left: -80px;
    &::before {
      content: '';
      position: absolute;
      width: calc(100% + 100px);
      left: 50%;
      transform: translateX(-50%);
      bottom: -100px;
      height: 216px;
      background-color: #ffffff;
      filter: blur(40px);
    }
  }

  &__item-desc {
    width: 100%;
    max-width: 678px;
    padding-bottom: 87px;
  }

  &__item-desc-suptitle {
    font-size: 15px;
    line-height: 165%;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__item-desc-title {
    font-weight: 800;
    font-size: 60px;
    line-height: 90%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__item-desc-elems {
    margin-bottom: 64px;
  }

  &__item-desc-elem {
    position: relative;
    padding-left: 25px;
    font-size: 16px;
    line-height: 145%;
    letter-spacing: -0.05em;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
    &::before {
      content: '';
      position: absolute;
      width: 2px;
      height: 2px;
      border-radius: 50%;
      background-color: #171c27;
      left: 11px;
      top: 11px;
    }
  }

  &__item-road {
  }

  &__item-road-title {
    font-weight: 700;
    font-size: 15px;
    line-height: 165%;
    text-transform: uppercase;
    margin-bottom: 12px;
  }

  &__item-road-elems {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
  }

  &__item-road-elem {
    position: relative;
    padding: 8px 25px;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 145%;
    background-image: linear-gradient(
      270deg,
      rgba(248, 208, 104, 0) 0%,
      rgba(248, 208, 104, 0.5) 100%
    );

    &::before {
      content: '';
      position: absolute;
      width: 26px;
      height: 22px;
      background-image: url(../img/who/icon.svg);
      background-repeat: no-repeat;
      background-size: contain;
      top: 50%;
      left: -13px;
      transform: translateY(-50%);
    }
  }

  &__item-infos {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
  }

  &__item-info {
    border: 1px solid #f8d068;
    padding: 0 65px 65px;
    display: flex;
    flex-direction: column;
  }

  &__item-info-title-block {
    margin-top: -32px;
    margin-bottom: 25px;
    .who__item-info-text {
      text-align: center;
      margin-top: -20px;
    }
  }

  &__item-info-title {
    padding: 16px 40px;
    background-color: #fff;
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 165%;
    text-align: center;
  }

  &__item-info-elems {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 70px;
    grid-row-gap: 50px;
    margin: auto 0;
    height: fit-content;
  }

  &__item-info-elem {
  }

  &__item-info-num {
    font-weight: 500;
    font-size: 35px;
    line-height: 90%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__item-info-text {
    font-size: 14px;
    line-height: 145%;
  }
}

@media (max-width: 1400px) {
  .who {
    padding-top: 20px;
    &__item-img {
      max-width: 509px;
      margin-left: 0;
    }
  }
}

@media (max-width: 1300px) {
  .who {
    &__item {
      margin-bottom: 70px;

      &:nth-child(even) {
        .who__item-img {
          padding-bottom: 87px;
          max-width: 509px;
          z-index: 1;
          &::before {
            width: calc(100% + 30px);
            left: 50%;
            transform: translateX(-50%);
            bottom: -5px;
            filter: blur(20px);
          }
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .who {
    margin-bottom: 100px;
    padding-top: 50px;
    &__item-desc-block {
      margin-top: 0px;
    }
    &__item {
      &:nth-child(even) {
        .who__item-img {
          max-width: 400px;
          &::before {
            bottom: -80px;
          }
        }
        .who__item-desc-block {
          margin-top: 0;
        }
      }
    }
    &__item-img {
      max-width: 400px;
    }
    &__item-info {
      padding: 0 25px 25px;
    }
    &__item-info-title {
      font-size: 18px;
    }
  }
}

@media (max-width: 950px) {
  .who {
    &__item-road-elems {
      grid-column-gap: 15px;
    }
    &__item-road-elem {
      padding: 8px 18px;
    }
    &__item {
      &:nth-child(even) {
        .who__item-img {
          max-width: 350px;
        }
      }
    }
    &__item-img {
      max-width: 350px;
    }
    &__item-info {
      padding: 0 15px 15px;
    }
    &__item-info-elems {
      grid-column-gap: 30px;
      grid-row-gap: 30px;
    }
    &__item-info-title {
      font-size: 18px;
    }
  }
}

@media (max-width: 768px) {
  .who {
    margin-bottom: 70px;
    &__item-desc-block {
      flex-direction: column;
      align-items: flex-start;
    }
    &__item {
      margin-bottom: 70px;
      &:nth-child(even) {
        .who__item-img {
          max-width: 300px;
          margin-left: auto;
        }
        .who__item-desc-block {
          flex-direction: column;
          align-items: flex-start;
        }
      }
    }
    &__item-img {
      margin: 0 auto;
      max-width: 350px;
      &::before {
        bottom: -60px;
        filter: blur(30px);
      }
    }
    &__item-desc {
      position: relative;
      z-index: 1;
      margin-top: -100px;
      max-width: 100%;
    }
    &__item-desc-elems {
      margin-bottom: 30px;
    }
    &__item-infos {
      grid-template-columns: repeat(1, 1fr);
      grid-row-gap: 50px;
    }

    &__item-info-title-block {
      margin-bottom: 20px;
    }
    &__item-info-title {
      font-size: 16px;
      padding: 16px 10px;
    }
    &__item-info-num {
      font-size: 26px;
    }
  }
}

@media (max-width: 550px) {
  .who {
    &__item-road-elems {
      grid-template-columns: repeat(1, 1fr);
      grid-row-gap: 10px;
    }
    &__item-desc {
      padding-bottom: 0;
    }
    &__item-desc-block {
      margin-bottom: 50px;
    }
    &__item-img {
      &::before {
        width: calc(100% + 30px);
        filter: blur(20px);
        bottom: -100px;
      }
    }
  }
}

@media (max-width: 450px) {
  .who {
    &__item-desc-title {
      font-size: 50px;
    }
  }
}

@media (max-width: 375px) {
  .who {
    &__item-desc-title {
      font-size: 40px;
    }
  }
}
