body {
  background-color: #ffffff;
  color: #171c27;
  font-family: var(--font-text);
  font-weight: normal;
  position: relative;
  &.lock {
    overflow: hidden;
  }
}

.container {
  width: 100%;
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 15px;
}

.--select {
  color: var(--color-select);
}
